.row {
    margin-left: 0;
}
.student-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
    overflow-x: hidden;
    
}

.card {
    margin: 28px;
}

